@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    height: 100vh;
    background: #8cc84c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
}
.wrapper{
    width: 500px;
    background: #fff;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
}
.title{
    font-size: 22px;
    font-weight: 600;
}
.content{
    display: flex;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #888;
    flex-wrap: wrap;
    border-radius: 5px;
    color: white;
}
.content li{
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background: #8cc84c;
    padding: 10px;
    font-weight: 300;
}
.content li i{
    margin-left: 10px;
    cursor: pointer;
}
.content input{
    flex: 1;
    border: none;
    padding: 5px;
    font-size: 20px;
    outline: none;
}
.btn-remove{
    padding: 13px 25px;
    background: #8cc84c;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    outline: none;
}
.btn-remove:hover{
    background: #80b844;
    transition: all 0.25s ease-in;
}